<% include ../partials/header %>
<div class="row">
  <div class="col-md-6">
<img src="<%= user.picture%>" alt="Avatar" style="height:auto; width:auto; max-width:340px; max-height:400px;"></div>
<div class="col-md-6">
<h1><span class="white font">Hi <%= user.email%>!</span></h1>
</div>
</div>

<% include ../partials/footer %>